{% extends "_layouts/auth.njk" %}
{% block body %}
		<form action="/signup" method="POST" enctype="multipart/form-data">

				{% include "_partials/flash.njk" %}

				<label for="avatar">
						<img src="/images/avatar.svg" height="24" alt=""/>
				</label>
				<input id="avatar" name="avatar" type="file"/>
				<input type="text" name="name" placeholder="Seu nome" required="required"/>
				<input type="email" name="email" placeholder="Seu e-mail"/>
				<input type="password" name="password" id="password" placeholder="Senha secreta"/>

				<label for="provider">
						<input type="checkbox" name="provider" id="provider" value="1"/>
						Sou cabelereiro
				</label>

				<button type="submit">Criar conta</button>

				<a href="/">Já possui conta?</a>
		</form>

		<script type="text/javascript">
				var avatarInput = document.getElementById("avatar");
				var img = document.querySelector("label[for=avatar] img");

				avatarInput.onchange = function (e) {
						img
								.classList
								.add("preview");
						img.src = URL.createObjectURL(e.target.files[0]);
				};
		</script>

{% endblock body %}
