{% for hour in available %}
		<label class="{% if hour.available === false %}disabled{% endif %}" for="time-{{ hour.time }}">
				{% if hour.available === true %}
						<input type="radio" name="date" value="{{ hour.value }}" id="time-{{ hour.time }}"/>
				{% endif %}
				{{ hour.time }}
		</label>
{% endfor %}
