{% extends "_layouts/default.njk" %}
{% block body %}

		<div class="content">

				<strong>Olá,
						{{ user.name }}</strong>
				{% if (user.provider === true) %}
						<a href="/app/schedule" class="schedule">Meus agendamentos</a>
				{% endif %}
				<p>Inicie um agendmaento escolhendo um profissional abaixo</p>
				<ul class="providers">
						{% for provider in providers %}
								<li class="provider">
										<div>
												<img src="/files/{{ provider.avatar }}" alt="Avatar" class="avatar">
												<strong>{{ provider.name }}</strong>
										</div>
										<a href="/app/appointment/new/{{ provider.id }}">+</a>
								</li>
						{% endfor %}
				</ul>

				<a href="/app/logout" class="logout">Sair</a>
		</div>

{% endblock body %}
